<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366377461709-u1n6nos54qkh6qejtc3e7tj4bnqui42m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366377461709-u1n6nos54qkh6qejtc3e7tj4bnqui42m</string>
	<key>API_KEY</key>
	<string>AIzaSyBz3jDJADP6RduTLQ7nLz9i-WmLq4F8Tpg</string>
	<key>GCM_SENDER_ID</key>
	<string>366377461709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campusConnect</string>
	<key>PROJECT_ID</key>
	<string>campus-connect-66f1d</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-connect-66f1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366377461709:ios:d42fad5fc7328998150684</string>
</dict>
</plist>